In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv('D:/NK_GANs/data/Online Retail.csv')

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [17]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  531283.000000  531283.000000  397924.000000
mean       10.655299       3.898954   15294.315171
std       156.830617      35.876279    1713.169877
min         1.000000       0.000000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531283 entries, 0 to 531282
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    531283 non-null  object
 1   StockCode    531283 non-null  object
 2   Description  530691 non-null  object
 3   Quantity     531283 non-null  int64
 4   InvoiceDate  531283 non-null  object
 5   UnitPrice    531283 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      531283 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.4+ MB

In [11]:
df['InvoiceDate'] = df['InvoiceDate'].astype('datetime64')
df['CustomerID'] = df['CustomerID'].astype('object')
df['Date'] = df['InvoiceDate'].dt.date